@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; margin: 0; font-family: 'Roboto', sans-serif; }
